<!DOCTYPE html>
<html>
<head>
    <title>cloudpr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
<div class="navbar sticky-top navbar-dark bg-dark">
{#    <a class="navbar-brand" href='/'>Welcome on CM/ET detection!</a>#}
{#    <a href="{% url "logout" %}">#}
{#        <button class="btn btn-outline-warning mx-1 my-xl-0 my-2" type="button">Logout</button>#}
{#    </a>#}
</div>

<div class="mt-2 col-md-12"></div>
{% block body %}{% endblock %}
</body>
</html>
