{% extends "layout.html" %}
{% load rest_framework %}
{% block body %}

    <div class="mt-2 col-md-12"></div>

    <div class="d-flex justify-content-center">

        <form method="post" autocomplete="off" action="{% url 'panel-login-api' %}">

            {% render_form form %}

            <input type="submit" value="Log in">
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        </form>
    </div>
{% endblock %}